@charset "utf-8";

.wrap {
    position: relative;
    width: 100%;
}
/* 定义版心 */
.innear {
    width: 1200px;
    margin: 0 auto;
}
/* 顶导航 */
.topnav {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    color: #727773;
    background-color: #f5f5f5;
}
/* 左导航 */
.topnav .leftsideBar {
    margin-left: 10px;
}
.leftsideBar .box1 a {
    margin-right: 5px;
}
.leftsideBar .box1 span {
    font-size: 5px;
    color: #c5c5c5;
    margin-right: 23px;
    vertical-align: middle;
}
.leftsideBar .box2 {
    color: #343013;
}
.leftsideBar .box2 .p1 {
    font-size: 17px;
    color: #fc9a00;
}
.leftsideBar .box2 .p2 {
    font-size: 12px;
    color: #bdbdbd;
}
/* 右导航 */
.rightsideBar {
    margin-right: 14px;
}
.rightsideBar li {
    float: left;
    margin-right: 12px;
}
.rightsideBar li span {
    font-size: 5px;
    color: #c5c5c5;
    vertical-align: middle;
}
.rightsideBar li .shop {
    color: #ff5f2e;
    margin-right: 7px;
}
.rightsideBar li .change {
    color: #eb7a04;
}
.zhong {
    width: 100%;
    height: 114px;
}
/* logo部分 */
.logo {
    width: 196px;
    height: 114px;
    line-height: 112px;
    margin-left: 208px;
}
.logo span {
    float: left;
}
.logo .log1 {
    color: #ee6b11;
}
.logo>a {
    float: left;
    display: block;
    width: 32px;
    height: 20px;
    background: url("../images/logo.png") no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 48px;
}
/* search */
.search {
    position: absolute;
    top: 70px;
    left: 526px;
}
form span {
    position: absolute;
    top: 10px;
    left: 10px;
}
form input {
    float: left;
    height: 36px;
    border: 2px solid #ec6d10;
}
form input[type="text"] {
    width: 390px;
    font-size: 12px;
    color: #b1b2b6;
    padding-left: 28px;
}
form input[type="submit"] {
    width: 116px;
    height: 40px;
    font-size: 18px;
    color: #f3ffe0;
    background-color: #f26b11;
}
/* 搜索框下的list */
.search ul {
    line-height: 29px;
}
.search ul>li {
    float: left;
    font-size: 12px;
    color: #9fa0b2;
}
.search li a {
    color: #9fa0b2;
}
.search li span {
    margin: 0 10px;
}
.search li .grow {
    color: #ff5716;
}
/* 中间商品分类 */
.midd {
    height: 39px;
    margin-left: 192px;
}
/* 菜单栏 */
.midd .caidan {
    width: 190px;
    height: 39px;
}
.midd .caidan .menu {
    width: 190px;
    height: 39px;
    line-height: 39px;
    background-color: #f26b11;
    font-size: 12px;
    color: #f2f9ff;
    padding-left: 10px;
}
.menu .name1 {
    width: 78px;
    height: 39px;
}
/* 中间导航 */
.nav {
    position: absolute;
    width: 510px;
    height: 38px;
    line-height: 38px;
    top: 149px;
    left: 416px;
}
.nav li {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 26px;
}
.nav li a {
    color: #333532;
}
.nav li .last {
    margin-right: 0;
}
/* 分隔线 */
.line {
    width: 100%;
    height: 2px;
    background-color: #ed6d12;
}
/* 大电视机区域 */
.big {
    width: 100%;
    height: 562px;
}
.big .title {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #6a6a6a;
    margin-top: 26px;
}
.big .title span {
    margin: 0 4px;
}
/* 内容区 */
.big .box {
    width: 100%;
    height: 495px;
    margin-top: 26px;
}
/* 左边电视机区域 */
.big .box .watch {
    width: 421px;
    height: 494px;
}
.box .watch img {
    margin-top: 43px;
}
.box .watch .sea {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ededed;
}
.box .watch .pian {
    width: 100%;
    height: 67px;
    margin-top: 41px;
}
.watch .pian .shw {
    width: 15px;
    height: 68px;
    background: url(../images/sprite.png) no-repeat -284px 0;
}
.watch .pian .s {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #f0f5f8;
    margin-left: 10px;
}
.watch .pian .s1 {
    width: 62px;
    height: 62px;
    border: 2px solid #f16b12;
}
.pian .s img {
    position: absolute;
    top: -43px;
    left: 0;
}
.watch .pian .shw1 {
    width: 15px;
    height: 68px;
    background: url(../images/sprite.png) no-repeat -304px 0;
}
/* 右边详情内容 */
.box .jieshi {
    width: 749px;
    height: 493px;
}
.jieshi .ti {
    width: 681px;
    line-height: 26px;
    color: #030303;
}
.jieshi .fu {
    width: 681px;
    line-height: 24px;
    font-size: 14px;
    color: #626262;
    margin-top: 7px;
}
.jieshi .fu a {
    text-decoration: underline;
    color: #e07735;
    margin-left: 26px;
}
.jieshi .madd {
    width: 100%;
    height: 130px;
    background-color: #fdf8f4;
    margin-top: 16px;
}
.jieshi .madd .d {
    width: 286px;
    height: 83px;
    font-size: 12px;
    color: #908b87;
    margin-top: 22px;
    margin-left: 19px;
}
.madd .d .qian {
    height: 26px;
    line-height: 26px;
}
.d .qian .d1 {
    font-size: 24px;
    color: #f2690b;
    margin-left: 21px;
    margin-right: 15px;
}
.d .qian .d2 {
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #f76b13;
}
.d .jia {
    line-height: 15px;
    margin-top: 18px;
}
.d .jia span {
    color: #fe5f0e;
    text-decoration: underline;
    margin-left: 24px;
}
.d .heji {
    line-height: 12px;
    margin-top: 16px;
}
.d .heji span {
    color: #38332f;
    margin-left: 22px;
}
.madd .cang {
    width: 49px;
    height: 26px;
    line-height: 26px;
    margin-top: 22px;
    margin-right: 28px;
}
.cang img {
    margin-top: 9px;
}
.cang span {
    font-size: 12px;
    color: #605b57;
    margin-left: 8px;
}
.jieshi .xinghao {
    width: 585px;
    height: 72px;
    margin-top: 26px;
    margin-left: 19px;
}
.xinghao .x1 {
    width: 50px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    color: #838383;
} 
.xinghao .lei {
    width: 500px;
    height: 72px;
}
.xinghao .lei .b {
    width: 236px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #a6a6a6;
    border: 2px solid #ececec;
    margin-right: 20px;
}
.xinghao .lei .b1 {
    color: #ed6c28;
    border-color: #f26a1e;
}
.xinghao .lei .b2 {
    margin-right: 0;
}
.xinghao .lei .b3 {
    margin-top: 10px;
}
.xinghao .lei .b4 {
    width: 203px;
    margin-top: 10px;
}
.jieshi .mai {
    width: 178px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #6e6e6e;
    margin-top: 30px;
    margin-left: 19px;
}
.mai .m1 {
    width: 48px;
}
.mai .m2 {
    width: 101px;
    height: 28px;
    border: 1px solid #cdcdcd;
}
.mai .m2 span {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.m2 .v1 {
    border-right: 1px solid #cdcdcd;
}
.m2 .v {
    margin-left: 17px;
}
.m2 .v2 {
    border-left: 1px solid #cdcdcd;
}
.jieshi .an {
    position: relative;
    width: 393px;
    height: 48px;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 70px;
}
.an input {
    width: 186px;
    height: 46px;
    color: #fafdff;
    background-color: #ff7609;
    padding-left: 8px;
}
.an button {
    width: 184px;
    height: 44px;
    color: #f05000;
    border: 1px solid #f06e10;
    background-color: #fef9f6;
    margin-left: 17px;
}
.an .iconfont {
    position: absolute;
    color: #fff;
    top: 15px;
    left: 33px;
}
/* 商品区域 */
.wupin {
    width: 100%;
    height: 4111px;
    margin-top: 28px;
}
/* 商品推荐区 */
.wupin .tui {
    width: 208px;
    height: 1215px;
    border: 1px solid #e3e3e3;
    border-top: none;
    border-top: 2px solid #ff8b4e;
}
.tui .timu {
    width: 68px;
    height: 16px;
    color: #f26a1e;
    margin-top: 15px;
    margin-left: 15px;
}
.tui .box {
    height: 209px;
    margin-top: 28px;
    margin-left: 16px;
}
.tui .box1 {
    margin-top: 29px;
}
.tui .box img {
    margin-left: 31px;
}
.tui .box p {
    line-height: 19px;
    font-size: 12px;
    color: #676767;
    margin-left: 20px;
}
.tui .box .p1 {
    margin-top: 17px;
} 
.tui .box .p2 {
    line-height: 26px;
    font-weight: bold;
    color: #e76b23;
}
/* 商品介绍区 */
.wupin .intr {
    width: 969px;
    height: 4110px;
}
/* 上面介绍区域 */
.intr .toop {
    width: 966px;
    height: 264px;
    border: 1px solid #e5e5e5;
}
.intr .tit {
    width: 100%;
    height: 44px;
}
.intr .tit .sidl {
    width: 801px;
    height: 38px;
    font-size: 14px;
}
.sidl .lii.act {
    border-top: 4px solid #fd8a3a;
    margin-top: -3px;
}
.sidl .l1 {
    width: 108px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    /* border-top: 4px solid #fd8a3a; */
    /* margin-top: -3px; */
}
.sidl .lii a.txt {
    font-weight: bold;
    color: #e44910;
    border-bottom: none;
}
.sidl a {
    display: inline-block;
    font-size: 14px;
    color: #686868;
    margin-top: 1px;
}
.sidl .l2 {
    width: 151px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.sidl .l2 span {
    color: #e55d21;
}
.sidl .l3 {
    width: 109px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.tit .bai {
    width: 427px;
    height: 38px;
    border-bottom: 1px solid #e3e3e3;
}
.tit .sidr {
    position: relative;
    width: 165px;
    height: 39px;
}
.tit .sidr input {
    width: 165px;
    height: 39px;
    background-color: #f46a08;
    color: #fff;
    padding-left: 17px;
}
.tit .sidr .iconfont {
    position: absolute;
    color: #fff;
    top: 12px;
    left: 25px;
}
.toop .can {
    width: 841px;
    height: 180px;
    margin-left: 40px;
    margin-top: 22px;
    position: absolute;
    display: none;
}
.toop .can.active {
    display: block;
}
.can .canshu {
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #676767;
    font-weight: bold;
}
.can .ss {
    width: 100%;
    height: 150px;
}
.ss .bb {
    width: 199px;
    height: 150px;
    margin-right: 98px;
}
.ss .last {
    width: 240px;
    margin-right: 0;
}
.ss .bb .bb1 {
    width: 100%;
    line-height: 30px;
    font-size: 12px;
    color: #676767;
}
/* 下面的产品区域 */
.intr .pin {
    width: 100%;
    height: 3843px;
}
.pin .tu {
    width: 793px;
    height: 3842px;
}
.pin .liucheng {
    width: 148px;
    height: 1173px;
    border: 1px solid #e6e6e6;
    background-color: #f6f6f6;
}
.liucheng .cir {
    width: 13px;
    height: 176px;
    text-align: center;
    margin-top: 42px;
    margin-left: 30px;
}
.cir .cr {
    width: 9px;
    height: 9px;
    background-color: #e6e6e6;
    border-radius: 50%;
}
.cir .cr1 {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #e16412;
}
.cir .xia {
    width: 1px;
    height: 29px;
    background-color: #e6e6e6;
    margin-left: 4px;
}
.liucheng ul {
    width: 60px;
    height: 176px;
    font-size: 14px;
    margin-top: 39px;
    margin-right: 31px;
}
.liucheng li {
    margin-bottom: 19px;
}
.liucheng li a {
    color: #5b5b5b;
}
.liucheng li .ja {
    color: #da4a03;
}
/* 版心外的小星星 */
.star {
    position: absolute;
    width: 48px;
    height: 19px;
    font-size: 12px;
    color: #636363;
    top: 408px;
    right: 123px;
}
.star img {
    margin-top: 2px;
}

/* 最底下一栏 */
.bottom {
    position: relative;
    width: 100%;
    height: 343px;
    background-color: #333333;
    margin-top: 30px;
}
.bottom .z {
    position: absolute;
    width: 828px;
    height: 187px;
    top: 28px;
    left: 370px;
    color: #aaa;
}
.bottom .z dl {
    float: left;
    width: 104px;
    margin-right: 77px;
}
.bottom .z dl.over {
    margin-right: 0;
}
.bottom dl dt {
    line-height: 25px;
    font-size: 18px;
}
.bottom dl dd {
    display: block;
    line-height: 30px;
    font-size: 12px;
}
.bottom dl .c {
    margin-top: 12px;
}
/* 分隔线 */
.bottom .ge {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #3f3f3f;
    top: 237px;
}
/* 版权 */
.bottom .banquan {
    position: absolute;
    width: 100%;
    height: 28px;
    line-height: 28px;
    top: 265px;
}
.bottom .banquan p {
    text-align: center;
    font-size: 12px;
    color: #5f5f5f;
}